#inputContainer {
    width: 100%;
    direction: rtl;
    display: flex;
    flex-direction: row;
}
#formCont {
    direction: rtl;
    display: flex;
    align-items: center;
    width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
#teamNumber {
    float: right;
    
}
.inputS {
    height: 40px;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1.1rem;
    background-color: white;
    border: none;
}
#sendID {
    height: 30px;
    border-radius: 2px;
    margin-right: 5px;
    padding: 5px;
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    align-items: center;
    transition: 80ms ease-in;
    background-color: white;
}
#sendID:hover {
    transform: translate(-10px, 0);
    cursor: pointer;
}